<ion-fab [vertical]="slot" horizontal="center" translucent="true">
  <slot name="middle"></slot>
</ion-fab>

<ion-tab-bar [slot]="slot" [ngClass]="slot" class="ion-no-border">
  <slot name="left"> </slot>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 124.8 61.5">
    <path
      fill="red"
      fill-rule="evenodd"
      d="M112.4,11.5L112.4,11.5L112.4,11.5c0,0.4-0.1,0.7-0.1,1v0.1c-1.1,26.6-23,47.9-49.9,47.9 c-26.8,0-48.6-21.1-49.9-47.5v-0.5C12.4,5.6,6.9,0,0,0v61.5h124.8V0C118.2,0,112.9,5.1,112.4,11.5z"
    />
  </svg>

  <slot name="right"> </slot>
</ion-tab-bar>
